{{define "manage"}}
<header class="page-header">
<div class="container-fluid">
  <h2 class="no-margin-bottom">Manage Posters</h2>
</div>
</header>

<section>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
			    <div class="line"></div>
			    <div class="form-group row has-success">
			      <label class="col-sm-3 form-control-label">A Poster</label>
			      <div class="col-sm-9">
			        <input type="text" class="form-control" disabled="true">
			      </div>
			    </div>

			</div>
		</div>
	</div>
</section>
{{end}}