{{define "manage"}}
<header class="page-header">
<div class="container-fluid">
  <h2 class="no-margin-bottom">Manage Posters</h2>
</div>
</header>

<section>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
			    <div class="line"></div>
			    <div class="form-group row has-success">
			        <label class="col-sm-3 form-control-label">A Poster</label>
			        <div class="col-sm-7">
			            <input type="text" class="form-control" disabled></input>
			        </div>
			        <div class="col-sm-2">
                        <button type="button" onclick="showPanel()" class="btn btn-secondary">Show</button>
                    </div>
			    </div>


			    <div class="panel panel-default infoPanel">
			        <div class="line"></div>
                    <div class="panel-body">
                                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                        			    <div class="form-group row">
                        			      <label class="col-sm-3 form-control-label">Physical Poster
                        			        <span id="icon_i"><ion-icon name="information-circle-outline"></ion-icon></span>
                        			        <div id="hid_info">
                        			           <div id="info_ctnt">Only accept the picture ended with .jpg or .png (non-alpha)</div>
                        			        </div>
                        			      </label>

                        			      <!--Show the original physical poster-->
                        			      <div class="col-sm-3"><img src="https://c-ssl.duitang.com/uploads/item/201711/10/20171110225150_ym2jw.jpeg" class="img-thumbnail original_pic"></div>

                        			      <div class="col-sm-3">
                        			      	<input id="fileInput" required="true" name="fileInput" type="file" class="form-control-file">
                        			      </div>
                        			    </div>

                        			    <div class="line"></div>
                        			    <div class="form-group row">
                        			      <label class="col-sm-3 form-control-label">Thumbnail Image</label>

                        			      <!--Show the original thumbnail image-->
                                          <div class="col-sm-3"><img src="https://c-ssl.duitang.com/uploads/item/201711/10/20171110225150_ym2jw.jpeg" class="img-thumbnail original_pic"></div>

                        			      <div class="col-sm-3">
                        			      	<input id="thumbnail" required="true" name="thumbnail" type="file" class="form-control-file">
                        			      </div>
                        			    </div>

                        			    <div class="line"></div>
                        			    <div class="form-group row">
                        			      <label class="col-sm-3 form-control-label">AR Model</label>
                        			      <div class="col-sm-3">
                        			      	<input id="armodel" required="true" name="armodel" type="file" class="form-control-file">
                        			      </div>
                        			    </div>

                        			    <div class="line"></div>
                        			    <div class="form-group row has-danger">
                        			      <label class="col-sm-3 form-control-label">Title</label>
                        			      <div class="col-sm-9">
                        			        <input name="title" required="true" type="text" class="form-control">
                        			        <div class="invalid-feedback">Please provide title</div>
                        			      </div>
                        			    </div>

                        			    <div class="line"></div>
                        			    <div class="form-group row has-danger">
                        			      <label class="col-sm-3 form-control-label">Location</label>
                        			      <div class="col-sm-9">
                        			        <input id="location" name="location" required="true" type="text" class="form-control" onfocusout="addressConvert()">

                        			        <input id="mapurl" name="mapurl" required="true" type="text" hidden="true" class="form-control">
                        			        <div class="invalid-feedback">Please provide location</div>
                        			      </div>
                        			    </div>

                        			    <div class="line"></div>
                        			    <div class="form-group row has-danger">
                        			      <label class="col-sm-3 form-control-label">Date Time</label>
                        			      <div class="col-sm-9">
                        			        <input name="datetime" required="true" type="datetime-local" class="form-control">
                        			        <div class="invalid-feedback">Please provide date and time</div>
                        			      </div>
                        			    </div>

                        			    <div class="line"></div>
                        			    <div class="form-group row has-danger">
                        			      <label class="col-sm-3 form-control-label">Event Link</label>
                        			      <div class="col-sm-9">
                        			        <input name="url" required="true" type="text" class="form-control">
                        			        <div class="invalid-feedback">Please event link</div>
                        			      </div>
                        			    </div>

                        			    <div class="line"></div>
                                        <div class="form-group row has-danger">
                                          <label class="col-sm-3 form-control-label">Relevant information</label>
                                          <div class="col-sm-9">
                                        	<input name="rvntinfo" required="false" type="text" class="form-control">
                                        	<div class="invalid-feedback">Please event relevant information</div>
                                          </div>
                                        </div>

                        			    <div class="line"></div>
                        			    <div class="form-group row">
                        			      <div class="col-sm-4 offset-sm-3">

                        			        <button type="submit" class="btn btn-primary">Update</button>
                        			      </div>
                        			    </div>
                        			  </form>
                    </div>
                </div>


<!-- The second poster-->

                <div class="line"></div>
                <div class="form-group row has-success">
                    <label class="col-sm-3 form-control-label">Another Poster</label>
                	<div class="col-sm-7">
                	    <input type="text" class="form-control" disabled></input>
                	</div>
                	<div class="col-sm-2">
                        <button type="button" onclick="showPanel()" class="btn btn-secondary">Show</button>
                    </div>
                </div>


                <div class="panel panel-default infoPanel">
                	<div class="line"></div>
                    <div class="panel-body">
                         Update poster here!!!
                    </div>
                </div>



			</div>
		</div>
	</div>
</section>



{{end}}