{{define "upload"}}
<header class="page-header">
	<div class="container-fluid">
	  <h2 class="no-margin-bottom">Upload</h2>
	</div>
</header>

<section>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
			  <form class="form-horizontal" action="upload" method="POST" enctype="multipart/form-data">
			    <div class="form-group row">
			      <label class="col-sm-3 form-control-label">Physical Poster
			      <span id="icon_i"><ion-icon name="information-circle-outline"></ion-icon></span>
			      </label>

			      <div class="col-sm-3">
			      	<input id="fileInput" required="true" name="fileInput" type="file" class="form-control-file">
			      </div>
			    </div>

			    <div class="line"></div>
			    <div class="form-group row">
			      <label class="col-sm-3 form-control-label">Thumbnail Image</label>
			      <div class="col-sm-3">
			      	<input id="thumbnail" required="true" name="thumbnail" type="file" class="form-control-file">
			      </div>
			    </div>

			    <div class="line"></div>
			    <div class="form-group row has-danger">
			      <label class="col-sm-3 form-control-label">Title</label>
			      <div class="col-sm-9">
			        <input name="title" required="true" type="text" class="form-control">
			        <div class="invalid-feedback">Please provide title</div>
			      </div>
			    </div>

			    <div class="line"></div>
			    <div class="form-group row has-danger">
			      <label class="col-sm-3 form-control-label">Location</label>
			      <div class="col-sm-9">
			        <input id="location" name="location" required="true" type="text" class="form-control" onfocusout="addressConvert()">

			        <input id="mapurl" name="mapurl" required="true" type="text" hidden="true" class="form-control">
			        <div class="invalid-feedback">Please provide location</div>
			      </div>
			    </div>

			    <div class="line"></div>
			    <div class="form-group row has-danger">
			      <label class="col-sm-3 form-control-label">Date Time</label>
			      <div class="col-sm-9">
			        <input name="datetime" required="true" type="datetime-local" class="form-control">
			        <div class="invalid-feedback">Please provide date and time</div>
			      </div>
			    </div>

			    <div class="line"></div>
			    <div class="form-group row has-danger">
			      <label class="col-sm-3 form-control-label">Event Link</label>
			      <div class="col-sm-9">
			        <input name="url" required="true" type="text" class="form-control">
			        <div class="invalid-feedback">Please event link</div>
			      </div>
			    </div>

			    <div class="line"></div>
			    <div class="form-group row">
			      <div class="col-sm-4 offset-sm-3">
			      	<!--
			        	<button type="submit" class="btn btn-secondary">Cancel</button>
			    	-->
			        <button type="submit" class="btn btn-primary" value="upload">Upload</button>
			      </div>
			    </div>
			  </form>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
		function addressConvert()
		{
			var address = document.getElementById("location").value;
			var link = "http://maps.google.com/maps?q=" + encodeURIComponent(address);
			document.getElementById("mapurl").value = link;
		}
	</script>
{{end}}